header {
  background-color: rgb(75, 15, 152);
  height: 325px;
  padding-top: 0.75em;
  display: flex;
  flex-direction: column;
}
/* desktop header size */

nav {
  width: 950px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'museo-sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Nimbus Sans L', Arial, sans-serif;
}

nav section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: block;
  height: 100%;
}

.search-login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  align-items: center;
  padding-top: 0.5em;
}

.search-login a {
  color: white;
  padding: 0 1.5em;
  font-size: 1em;
  font-weight: bold;
  transition: transform 1s ease;
}

.search-login a:nth-child(1):hover {
  transform: rotateY(360deg);
  transition: transform 1s ease;
}

.search-login a:nth-child(2) {
  border-left: 2px solid #6F42AC;
  line-height: 2em;
  font-size: 0.75em;
}

.search-login a:nth-child(2)::after {
  content: '';
  width: 0;
  height: 2px;
  background: white;
  display: block;
  transition: width .3s;
  margin-top: -3px;
}

.search-login a:nth-child(2):hover::after {
  width: 100%;
  transition: width .3s;
  color: white;
}

.menu {
  padding-top: 1em;
  display: flex;
}

.menu a {
  color: white;
  font-size: 0.9em;
  margin: 0 1.5em;
  padding: 0.7em 0;
  display: inline-block;
}

a.view-demo {
  background: #4CEBDB;
  color: black;
  font-weight: bold;
  padding: 0.6em 1.3em;
  align-self: center;
}

.play-circle {
  font-size: 1.25em;
}

.menu-item::after {
  content: '';
  width: 0;
  height: 4px;
  background: white;
  display: block;
  transition: width .3s;
  margin-top: 1em;
}

.menu-item:hover::after {
  width: 100%;
  transition: width .3s;
  color: white;
}

section.header-titles {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header-titles h2 {
  font-size: 1.1em;
  color: white;
  text-transform: uppercase;
  padding: 1em;
}

.header-titles h1 {
  font-size: 2.2em;
  color: white;
  font-weight: 600;
  padding-bottom: 0.75em;
}

.header-titles p {
  color: white;
  text-align: center;
  line-height: 1.5;
}

/* fundamentals component css section */
section.fundamentals {
  margin: 2em auto;
  width: 950px;
}

.scroll-image {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 70%;
  height: 700px;
  margin: 2em auto;
  background: #f3f3f3;
  padding: 1em;
}

.progressbar {
  counter-reset: step;
  z-index: 0;
  margin-bottom: 2em;
}

.progressbar li {
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
}

.progressbar li::before {
  content: '';
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #b200a8;
  display: block;
  text-align: center;
  margin: 20px auto 10px auto;
  border-radius: 50%;
  background-color: #b200a8;
}

.progressbar li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 32px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child::after {
  content: none;
}

.progressbar li.active {
  /* color: #b200a8; */
}

.progressbar li.active::before {
  content: '\2713';
  color: white;
  border-color: #b200a8;
  background-color: #b200a8;
}

.progressbar li.active + li::after {
  background-color: #b200a8;
}

.progressbar li.focus::before {
  content: counter(step);
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 18px;
}

figure {
  width: 97%;
  height: 500px;
  margin: 0 auto;
}

figure img {
  width: 100%;
  /* height: 340px; */
}

figure p {
  margin-top: 3em;
  font-size: 0.9em;
  line-height: 1.5;
  font-size: 0.8em;
  color: #4b4e53;
}

.next-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5em;
}

.next-steps button {
  background-color: transparent;
  border: 0;
  color: #f32a6c;
  text-decoration: underline;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.next-steps div {
  color: #aea9b7;
  font-size: 0.8em;
  font-weight: 600;
}

/* footer css section */
footer {
  background-color: #110131;
}

footer ul {
  width: 950px;
  margin: 0 auto;
  padding: 4em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer ul li {
  display: flex;
  flex-direction: column;
}

footer ul li * {
  color: white;
}

ul li>a, ul li>p {
  font-size: 0.7em;
  color: #b7b3c0;
  line-height: 2;
}

ul li a:hover {
  text-decoration: underline;
}

ul li h4 {
  font-size: 0.7em;
  line-height: 2;
  color: #b7b3c0;
}

ul li h3 {
  font-size: 0.9em;
  line-height: 1.2;
  padding-bottom: 0.75em;
}

.separate {
  padding-top: 1em;
}

.languages {
  padding-top: 2em;
}

.corner {
  position: relative;
}

span.corner {
  color: #b7b3c0;
}

.corner::after {
  content: '';
  position: absolute;
  top: 0;
  right: -15px;
  border-color: transparent;
  border-style: solid;
}

.corner::after {
    border-width: 0.3em;
    border-right-color: #f32a6c;
    border-top-color: #f32a6c;
}
