.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  left: 0;
  transition: left 0.3s linear;
}

header {
  background-color: rgb(75, 15, 152);
  height: 365px;
  padding-top: 0.75em;
  display: flex;
  flex-direction: column;
}
/* desktop header size */

nav {
  width: 940px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'museo-sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Nimbus Sans L', Arial, sans-serif;
}

nav section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: block;
  height: 100%;
}

.search-login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  align-items: center;
  padding-top: 0.5em;
}

.search-login a {
  color: white;
  padding: 0 1.5em;
  font-size: 1em;
  font-weight: bold;
  transition: transform 1s ease;
}

.search-login a:nth-child(1):hover {
  transform: rotateY(360deg);
  transition: transform 1s ease;
}

.search-login a:nth-child(2) {
  border-left: 2px solid #6F42AC;
  line-height: 2em;
  font-size: 0.75em;
}

.search-login a:nth-child(2)::after {
  content: '';
  width: 0;
  height: 2px;
  background: white;
  display: block;
  transition: width .3s;
  margin-top: -3px;
}

.search-login a:nth-child(2):hover::after {
  width: 100%;
  transition: width .3s;
  color: white;
}

.menu {
  padding-top: 1em;
  display: flex;
}

.menu a {
  color: white;
  font-size: 0.9em;
  margin: 0 1.5em;
  padding: 0.7em 0;
  display: inline-block;
}

a.view-demo {
  background: #4CEBDB;
  transition: background 0.5s ease;
  color: black;
  font-weight: bold;
  padding: 0.6em 1.3em;
  align-self: center;
}
a.view-demo:hover {
  background: #44d7c8;
  transition: background 0.5s ease;
}

.play-circle {
  font-size: 1.25em;
}

.menu-item::after {
  content: '';
  width: 0;
  height: 4px;
  background: white;
  display: block;
  transition: width .3s;
  margin-top: 1em;
}

.menu-item:hover::after {
  width: 100%;
  transition: width .3s;
  color: white;
}

section.header-titles {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header-titles h2 {
  font-size: 1.1em;
  color: white;
  text-transform: uppercase;
  padding: 1em;
}

.header-titles h1 {
  font-size: 2.2em;
  color: white;
  font-weight: 600;
  padding-bottom: 0.75em;
}

.header-titles p {
  color: white;
  text-align: center;
  line-height: 1.5;
}

/* fundamentals component css section */
section.fundamentals {
  margin: 2em auto;
  width: 940px;
}

.fundamentals a {
  color: #4a0f96;
}

.scroll-image {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 70%;
  height: 700px;
  margin: 2em auto;
  background: #f3f3f3;
  padding: 1em;
}

.progressbar {
  counter-reset: step;
  z-index: 0;
  margin-bottom: 2em;
}

.progressbar li {
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: #100032;
}

.progressbar li::before {
  content: '';
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #b200a8;
  display: block;
  text-align: center;
  margin: 20px auto 10px auto;
  border-radius: 50%;
  background-color: #b200a8;
}

.progressbar li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #c0c0c0;
  top: 32px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child::after {
  content: none;
}

.progressbar li.active {
  /* color: #b200a8; */
}

.progressbar li.active::before {
  content: '\2713';
  color: white;
  border-color: #b200a8;
  background-color: #b200a8;
}

.progressbar li.active::after {
  background-color: #b200a8;
}

.progressbar li.focus::before {
  content: counter(step);
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 18px;
}

.progressbar li.focus::after {
  top: -39px;
  left: -50%;
  height: 100%;
  border: 3px solid transparent;
  border-bottom-color: #b200a8;
  border-radius: 0 0 50% 0;
  background-color: transparent;
  width: 100%;
}

.progressbar li.focus + li::after {
  top: -39px;
  left: -50%;
  height: 100%;
  border: 3px solid transparent;
  border-bottom-color: #c0c0c0;
  border-radius: 0 0 50% 0;
  background-color: transparent;
  width: 100%;
  transform: rotateY(180deg);
}

figure {
  width: 97%;
  height: 500px;
  margin: 0 auto;
}

figure img {
  width: 100%;
}

figure p {
  margin-top: 3em;
  font-size: 0.9em;
  line-height: 1.5;
  font-size: 0.8em;
  color: #4b4e53;
}

.next-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5em;
}

.next-steps button {
  background-color: transparent;
  border: 0;
  color: #f32a6c;
  text-decoration: underline;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.next-steps div {
  color: #aea9b7;
  font-size: 0.8em;
  font-weight: 600;
}

/* footer css section */
footer {
  background-color: #110131;
  position: relative;
}

footer ul {
  width: 940px;
  margin: 0 auto;
  padding: 5em 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer ul li, footer ul li div {
  display: flex;
  flex-direction: column;
}

footer ul li * {
  color: white;
}

ul li>a, ul li>p, ul li div>a {
  font-size: 0.7em;
  color: #b7b3c0;
  line-height: 2;
}

ul li a:hover {
  text-decoration: underline;
}

ul li h4 {
  font-size: 0.7em;
  line-height: 2;
  color: #b7b3c0;
}

ul li h3, ul li div h3 {
  font-size: 0.9em;
  line-height: 1.2;
  padding-bottom: 0.75em;
}

.separate {
  padding-top: 1em;
}

.languages {
  padding: 2em 0 0.5em;
}

.corner {
  position: relative;
}

span.corner {
  color: #b7b3c0;
}

.corner::after {
  content: '';
  position: absolute;
  top: 0;
  right: -15px;
  border-color: transparent;
  border-style: solid;
}

.corner::after {
  border-width: 0.3em;
  border-right-color: #f32a6c;
  border-top-color: #f32a6c;
}

.footer-2 {
  background-color: black;
}

.additional {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.additional article {
  font-size: 0.6em;
  color: rgba(123, 114, 133);
  padding: 0 5em;
}

.additional article p {
  line-height: 1.2;
  padding-bottom: 1em;
}

.additional article p a {
  margin-left: 3px;
  color: rgba(123, 114, 133);
}
.additional article p a:hover {
  text-decoration: underline;
}

.additional ul {
  color: #b7b3c0;
  padding: 3em 0;
}

.social-icons {
  justify-content: center;
}

.social-icons li {
  padding: 0 0.75em;
}

.social-icons li a {
  width: 2em;
  height: 2em;
  text-align: center;
  font-size: 1.25em;
  text-decoration: none;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #482496;
  background-color: #482496;
}

/* contact us section */

#position {
  z-index: 4;
  position: fixed;
  right: 5%;
  bottom: 19px;
}

.contact-box {
  padding: 1.5em 5em;
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to right, #a4009e, #ec246c);
  font-weight: bold;
  letter-spacing: 1px;
}

#fixed {
  z-index: 4;
  position: absolute;
  right: 5%;
  bottom: 102.91%;
}

/* featured section */
section#featured-stories {
  background-color: #efefef;
}

.featured-stories {
  display: flex;
  flex-direction: column;
  padding: 6em 0 8em;
  width: 940px;
  margin: 0 auto;
}

.featured-stories h2 {
  font-size: 1.9em;
  font-weight: 600;
  margin-bottom: 2em;
}

.featured-stories h2::after {
  content: '';
  width: 6.5%;
  height: 4px;
  background: black;
  display: block;
  transition: width .3s;
  margin-top: 0.5em;
}

.featured-stories ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.featured-stories ul li {
  width: 32%;
}

.featured-stories ul li img {
  width: 100%;
  height: 170px;
}

.featured-stories ul li h3 {
  font-size: 1.16em;
  font-weight: bold;
  line-height: 1.3;
  padding: 0.3em 0 0.45em;
}

.featured-stories ul li h5 {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  padding-bottom: 0.5em;
  color: #7b7e81;
}

span.date {
  font-size: 0.8em;
}

.featured-stories ul li div {
  padding-top: 1em;
}

.featured-stories ul li div a {
  color: #f32a6c;
  text-decoration: underline;
  font-family: inherit;
  font-size: 0.95em;
  font-weight: bold;
  line-height: 1.2;
}

/* header media query */
a.extra {
  display: none;
}

.extra2 {
  display: block;
}

.added {
  display: none;
}

#sidebar-btn {
  display: none;
}

@media only screen and (max-width: 940px) {
  label {
    display: block;
    cursor: pointer;
  }
  header {
    padding: 0;
  }
  nav {
    width: 100%;
    height: 10vh;
    transition: background 0.5s ease;
    z-index: 10;
  }
  #sidebar {
    background: #584a75;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    right: -200px;
    top: 0;
    transition: right 0.3s linear;
  }
  #sidebar.visible {
    right: 0;
    transition: right 0.3s linear;
  }
  .search-login {
    display: none;
  }
  #sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 200px;
  }
  #sidebar-btn span {
    height: 4px;
    background: white;
    margin-bottom: 5px;
    display: block;
  }
  .pushed {
    left: -200px;
    transition: left 0.3s linear;
  }
  .menu a {
    display: block;
    border-top: 1px solid #867c9c;
    border-bottom: 1px solid #867c9c;
    width: 200px;
    padding: 2em 1.5em;
    margin: 0;
  }
  .menu a::after {
    display: none;
  }
  .menu a:hover {
    text-decoration: underline;
  }
  a.view-demo {
    background: transparent;
    font-weight: normal;
    color: white;
    border-bottom: 1px solid #867c9c;
  }
  a.view-demo:hover {
    background: transparent;
  }
  section.header-titles {
    width: 90%;
    margin: auto;
    padding: 3em 0;
  }
  header {
    height: 100%;
  }
  .header-titles h1 {
    font-size: 1.75em;
  }
  .header-titles p {
    font-size: 1.1em;
    line-height: 2;
  }
  #extra-logo img {
    width: 75px;
    height: 50px;
    padding-left: 120px
  }
  #extra-logo {
    border-top: none;
    padding: 0;
    width: 100%;
  }
  .scrolled {
    width: 100%;
    position: fixed;
    top: 0;
    background: #584a75;
    height: 10vh;
    transition: background 0.5s ease;
  }
}


/* footer and contact media query */

@media only screen and (max-width: 940px) {
  footer ul {
    width: 100%;
  }
  .additional {
    flex-direction: column-reverse;
    width: 100%;
  }
  .additional ul {
    /* background-color: #110131; */
    padding: 1em 0;
    /* border-bottom: 2px solid gray; */
  }
  .additional article {
    padding: 1em 0;
    margin: 0 12em;
  }
  #fixed {
    bottom: 102.68%;
  }
}

@media only screen and (max-width: 720px) {
  footer ul.footer-1 li:nth-child(1) {
    display: none;
  }
  footer ul.footer-1 li:nth-child(2) {
    display: none;
  }
  footer ul.footer-1 li:nth-child(3) {
    display: none;
  }
  footer ul.footer-1 li:nth-child(4) {
    display: none;
  }
  .additional {
    flex-direction: column-reverse;
    width: 100%;
  }
  .additional ul {
    background-color: #110131;
    padding: 2em 0;
    border-bottom: 2px solid gray;
  }
  .additional article {
    padding: 2em 0;
    margin: 0 2em;
  }
  .added {
    display: block;
  }
  .footer-resize {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-column-gap: 2em;
  }
  .footer-resize div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .footer-resize div:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .footer-resize div:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .languages {
    padding: 0 0 0.25em;
  }
  #fixed {
    width: 100%;
    right: 0;
    bottom: 100%;
  }
  .contact-box {
    display: block;
    text-align: center;
  }
  #position {
    width: 100%;
    right: 0;
    bottom: 0;
  }
  .extra2 {
    display: none;
  }
}

/* featured media queries */
@media only screen and (max-width: 940px) {
  .featured-stories {
    width: 100%;
    padding: 3em 0 5em;
  }
  .featured-stories ul {
    /* flex-direction: column;
    align-items: center;
    width: 100%; */
    justify-content: space-evenly;
  }
  .featured-stories ul li {
    max-width: 300px;
    width: 90%;
    margin: 1em;
  }
  .featured-stories h2 {
    margin-bottom: 0.5em;
    font-size: 1.25em;
    padding-left: 2em;
  }
  .featured-stories h2::after {
    height: 3px;
  }
}

/* fundamentals media queries */

@media only screen and (max-width: 940px) {
  section.fundamentals {
    width: 100%;
  }
  section.fundamentals a {
    display: none;
  }
  .scroll-image {
    width: 100%;
    height: auto;
    padding: 0;
    background: transparent;
    margin: 0;
  }
  figure {
    width: 100%;
    height: auto;
  }
  figure p {
    margin: 1em;
    font-size: 1em;
  }
  .next-steps {
    padding-top: 2.5em;
    margin: 0 1em;
  }
  .next-steps button {
    padding: 0;
    text-decoration: none;
  }
  .next-steps button:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 480px) {
  /* .progressbar li::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
  } */
}
